
  #footer {
    padding-top: 60px;
  }
  /* #NAVBAR {
    border: 1px solid transparent;
    margin-top: -1px;
  } */
  
  #time_picker > #date {
    border: none;
    padding-left: 19px;
    width: 74%;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 800;
  }
  #time_picker > select {
    border: none;
    width: 85%;
    padding: 10px;
    font-size: 1rem;
    padding-right: 18px;
    font-weight: 800;
    padding-left: 17px;
    height: auto;
    cursor: pointer;
  }
  #time_btn{
      transition: all 0.3s ease-in-out;
  }
  #time_btn:hover{
      scale: 1.1;
  }
  /* body::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
    }  */
  
  /* #navbar{
  width: 100%;
  background-color: rgba(240, 248, 255, 0.267); 
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  } */
  
  #style_container {
    width: 90%;
    margin: auto;
    /* margin-top: 50px; */
    margin-bottom: 140px;
    padding-bottom: 40px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.644);
  }
  
  #top-cont{
    display: flex;
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
  }

  #top-style{
    border: 1px solid #c5fff5;
    margin-top: 100px;
    width: 250px;
  }

  #styleImg{
    width: 100px;
    border-radius: 5px;
  }

  #style-time{
    width: 250px;
    margin-top: 100px;
    margin-left: 20px;
    border: 1px solid #c5fff5;
  }

  #hairstyle-card{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c5fff5;
    /* border: 1px solid blue; */
  }

  #changeStyle{
    border: none;
    background-color: rgba(0, 0, 0, 0.818);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 90%;
    height: auto;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
  }

  #changeStyle:hover{
    scale: 1.1;
  }

  #style-cards{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .styler_header {
    width: 100%;
    margin-left: 30px;
    padding: 20px 0px;
    font-size: 28px;
  }
  
  #styler_grid {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: auto;
    /* padding-left:20px;
      padding-right: 20px; */
    text-align: center;
  }
  
  .styler_card {
    background-color: #c5fff5;
    padding: 15px;
  }
  .styler_name {
    padding: 5px 0px;
  }
  .styler_img {
    height: 76%;
  }
  .styler_card button {
    width: 200px;
    height: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    transition: all 0.3s ease-in-out;
  }
  
  #time_picker {
    text-align: center;
    width: 100%;
    background-size: cover;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #c5fff5;
    /* border: 1px solid blue; */
  }
  

  .inputz {
    width: 90%;
    height: 20px;
    margin-bottom: 15px;
  }


  .appointment_btn:hover {
    cursor: pointer;
    scale: 1.1;
  }
  #time_picker i {
    font-size: 20px;
  }
  #time_btn {
    border: none;
    background-color: rgba(0, 0, 0, 0.818);
    color: white;
    cursor: pointer;
    padding: 10px;
    height: auto;
    font-size: 1rem;
  }
  
  @media screen and (min-width: 650px) and (max-width: 900px) {
    #styler_grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }
  
  @media screen and (max-width: 649px) {
    #top-cont{
      flex-direction: column;
      gap: 20px;
      margin: auto;
    }

    #style-time{
      margin-left: 0px;
    }

    #styler_grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
    }
  }
  