body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-size: 20px;
}

.Buy {
  height: 40px;
  width: 108%;
  border: 0px;
  margin-bottom: -12px;
  background: linear-gradient(135deg, #adffe7 15%, #1cc9ac 100%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-size: 15px;
  color: #666666;
}

/* .Buy:hover{
    transition: 0.8s;
    border-radius: 30px;
  } */

.rating {
  font-size: 12px;
}

#main {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  /* border: 1px solid red;  */
}

.brands {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 4%;
  margin-top: 30px;
  /* border: 10px solid rgb(0, 255, 42);  */
}

#gender-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#filterbar {
  cursor: initial;
}

.brands>img {
  cursor: pointer;
  height: 10px;
}

.brands>div {
  text-align: center;
  font-size: 13px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2%;
  border-radius: 5%;
  cursor: pointer;
  /* border: 1px solid; */
}

/* .brands > div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  } */
#brand_img {
  height: auto;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid rgb(3, 143, 101);
}

#brand_img:hover {
  transition: 0.6s;
  background-color: #c5fff5;
}

#brands_head {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-size: 20px;
  color: #212121;
  margin-top: 30px;
  width: 100%;
  border-bottom: 2px solid rgb(46, 219, 153);
  /* border: 10px solid red;  */
}

#all_products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  /* border: 10px solid rgb(255, 0, 106);  */
}

#all_products>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#all_products>div:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #e4fffb;
  transition: 0.6s;
  cursor: pointer;
}

.proClass {
  width: 200px;
  height: 180px;
  margin-top: 15px;
  /* border: 10px solid rgb(32, 22, 26);  */
}

.name_pro_div {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  color: #212121;
  border-bottom: 1px solid #cccbcb;
}

.proname,
.price {
  font-size: 16px;
}

.quantity {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-size: 16px;
  color: #757575;
  text-align: center;
}

#price-box {
  margin-left: 30%;
}

.div5 {
  background-color: #1aab2a;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 400;
  width: 40px;
  height: 20px;
  padding-left: 5px;
  border-radius: 10%;
  margin-left: 40%;
}

.dis {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #0d8369;

}

/* #sup{
      width: 87%;
      height: 350px;
      margin:auto;
      display: grid;
      grid-template-columns: repeat(7,1fr);
      grid-gap: 20px;
      margin-top: 50px;
      /* border: 10px solid rgb(255, 0, 106);  */

*/

/* .pre_img{
      height: 150px;
      width: 80px;
      margin-left: 30px;
      border: 10px solid rgb(255, 0, 106); 
  
  } */
/* left filter */
.left_header {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #212121;
  margin-top: 8px;
  border: 10px solid rgb(255, 0, 106);
}

/* #search_brand{
      height: 30px;
      margin-left: 10px;
  } */


.left-bar-cards {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(3, 143, 101);
  border-radius: 10px;
}

#buy-btn {
  cursor: pointer;
}

.brand_div_option {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #474747;
  margin: 10px 15px;
  padding: 7px 11px;
  border: 1px solid rgb(22, 202, 118);
  border-radius: 5px;
  cursor: pointer;
}

.brand_div_option:hover {
  background: linear-gradient(135deg, #adffe7 40%, #1cc9ac 100%);
}

#brand_check {
  background-color: #ff6f61;
  border-color: #ff6f61;
  width: 15px;
  height: 15px;
  /* border: 10px solid rgb(255, 0, 106);  */
}

.discount_div {
  width: 140px;
  height: 90px;
  text-align: center;
}

/* -------------------- Mid screen------------- */

@media (min-width: 700px) and (max-width: 1200px) {
  #all_products {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-left: 40px;
  }

  #brands_head {
    margin-left: 40px;
  }

  .brands {
    width: 150%;
    margin-left: 50px;
  }
}

/* -------------------- Small Screen---------------- */
@media (min-width: 200px) and (max-width: 699px) {
  #all_products {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }

  #brands_head {
    margin-left: 45px;
  }

  .brands {
    width: 150%;
    margin-left: 50px;
  }
}


/*--footer--*/

#footer {
  padding: 5% 10%;
  background: #efefef;
  position: relative;
}

.footer-row {
  display: flex;
}

.footer-left,
.footer-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-right {
  text-align: right;
}

.footer-row h1 {
  margin: 10px 0;
}

.footer-row p {
  line-height: 35px;
}

.footer-left .bx,
.footer-right .bx {
  font-size: 20px;
  color: #009688;
  margin: 10px;
}

.footer-img {
  max-width: 370px;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.social-links {
  text-align: center;
}

.social-links .bx {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #009688;
  margin: 40px 5px 0;
  cursor: pointer;
  transition: 0.5s;
}

.social-links .bx:hover {
  background: #009688;
  color: #fff;
  transform: translateY(-7px);
}

@media screen and (max-width: 770px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
    margin-left: 10px;
  }

  .footer-right {
    text-align: left;
  }

  .features-img {
    top: 25px;
  }
}


/* ........./ Testimonial /.......... */

#testimonials {
  padding: 5rem 0;
}

.testimonial-title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
}

.testimonial-box .checked {
  color: #ff9529;
}

.testimonial-box .testimonial-text {
  margin: 1rem 0;
  color: #444;
}

.testimonial-box {
  text-align: center;
  padding: 1rem;
}

.customer-photo img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}

@media (max-width: 500px) {
  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }
}



/* ////////////////////////// */


/* /--services--/ */

/* .sevice-box {
  width: 50%;
  display: flex;
  margin: auto;
}

.single-service {
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}

.single-service img {
  width: 50%;
  border-radius: 7px;
  margin: flex;
}


.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.img-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-box img {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 600px;
  height: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  cursor: pointer;
  position: absolute;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
  opacity: 0;
  transition: 1s;
}

.single-service:hover .overlay {
  opacity: 1;
}

.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 1s;
  transform: translate(-50%);
  transition: 1s;
}

.hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}

.service-desc p {
  font-size: 14px;
}

.single-service:hover .service-desc {
  bottom: 40%;
  opacity: 1s;
}

@media screen and (max-width: 770px) {
  .sevice-box {
      width: 100%;
  }
  .single-service {
      flex-basis: 100%;
      margin-bottom: 30px;
  }
  .service-desc {
      font-size: 12px;
  }
  hr {
      margin: 5px auto;
  }
  .single-service:hover .service-desc {
      bottom: 25% !important;
  }
  .img-box img {
      margin-bottom: 20px;
      width: 300px;
      height: auto;
  }
} */

#card-div{
  /* border: 2px solid red; */
  /* background-color: rgb(209, 195, 222); */
  background: linear-gradient(90deg, #ffffff 40%, #c5fff5 100%);
  /* position: fixed; */
  width: 350px;
  height: 50vh;
  right: 40px;
  position: absolute;
  z-index: 1;
  top: 50px;
  display: none;
  position: sticky;
  text-align: center;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#pay-div{
 display: flex;
 margin: auto;
 width: 80%;
 justify-content: space-between;
}
#pay-div>div:nth-child(1){
  display: flex;
}
#pay-div>div:nth-child(1) button{
   margin: 5px;
   font-size: 10px;
   /* width: 20px; */
   background: linear-gradient(90deg, #ffffff 40%, #c5fff5 100%);
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   border: 2px solid rgb(3, 143, 101);
   width: 60px;
   border-radius: 5px;
}
#pay-div>div:nth-child(1) a button{
  margin: 5px;
  font-size: 10px;
  padding: 10px;
  /* width: 20px; */
  background: linear-gradient(90deg, #ffffff 40%, #c5fff5 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 2px solid rgb(3, 143, 101);
  width: 60px;
  border-radius: 5px;
}
#pay-div>div:nth-child(2) button{
  margin: 5px;
  padding: 10px;
  font-size: 10px;
  width: 40px;
  background: linear-gradient(90deg, #ffffff 40%, #c5fff5 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* border: 1px solid black; */
  border: 2px solid rgb(3, 143, 101);
  width: 60px;
  border-radius: 5px;
}

#pay-div>div:nth-child(1) p{
  margin: 5px;
}
#ani-img{
  width: 60%;
  height:5%;
  margin-bottom: 10px;
}